<div class="container">
    <form action="/admin/edit-essay" method="post">
        <table>
           <tr>
                <td>
                    <input type="hidden" name="id" value="{{essayData._id}}"><br>
                </td>
                 <td>
                    <input type="hidden" name="examId" value="{{essayData.examId}}"><br>
                </td>
            <tr>
            <tr>
                <td>
                    <label>Question</label>
                </td>
                <td>
                    <input type="text" name="question" value="{{essayData.question}}" style="width:500px ;height: 100px;"><br>
                </td>
            <tr>
                <td>
                <label>Keyword 1</label>
                </td>
                <td>
                <input type="text" name="keyword1" value="{{essayData.keyword1}}">
                </td>
            </tr>
             <tr>
                <td>
                <label>Keyword 2</label>
                </td>
                <td>
                <input type="text" name="keyword2" value="{{essayData.keyword2}}">
                </td>
            </tr>
             <tr>
                <td>
                <label>Keyword 3</label>
                </td>
                <td>
                <input type="text" name="keyword3" value="{{essayData.keyword3}}">
                </td>
            </tr>
             <tr>
                <td>
                <label>Keyword 4</label>
                </td>
                <td>
                <input type="text" name="keyword4" value="{{essayData.keyword4}}">
                </td>
            </tr>
             <tr>
                <td>
                <label>Keyword 5</label>
                </td>
                <td>
                <input type="text" name="keyword5" value="{{essayData.keyword5}}">
                </td>
            </tr>
             <tr>
                <td>
                <label>Keyword 6</label>
                </td>
                <td>
                <input type="text" name="keyword6" value="{{essayData.keyword6}}">
                </td>
            </tr>
             <tr>
                <td>
                <label>Keyword 7</label>
                </td>
                <td>
                <input type="text" name="keyword7" value="{{essayData.keyword7}}">
                </td>
            </tr>
             <tr>
                <td>
                <label>Keyword 8</label>
                </td>
                <td>
                <input type="text" name="keyword8" value="{{essayData.keyword8}}">
                </td>
            </tr>
             <tr>
                <td>
                <label>Keyword 9</label>
                </td>
                <td>
                <input type="text" name="keyword9" value="{{essayData.keyword9}}">
                </td>
            </tr>
             <tr>
                <td>
                <label>Keyword 10</label>
                </td>
                <td>
                <input type="text" name="keyword10" value="{{essayData.keyword10}}">
                </td>
            </tr>
            <tr>
                <td>
                
                </td>
                <td>
                <button class="btn btn-success" type="submit">Update</button>
                </td>
            </tr>
        </table>
    </form>
</div>