<div class="container">
    <form action="/admin/edit-mcq" method="post">
        <table>
           <tr>
                <td>
                    <input type="hidden" name="id" value="{{mcqData._id}}"><br>
                </td>
                 <td>
                    <input type="hidden" name="examId" value="{{mcqData.examId}}"><br>
                </td>
            <tr>
            <tr>
                <td>
                    <label>Question</label>
                </td>
                <td>
                    <input type="text" name="question" value="{{mcqData.question}}" style="width:500px ;height: 100px;"><br>
                </td>
            </tr>
            
             <tr>
                <td>
                <label>Option 1</label>
                </td>
                <td>
                <input type="text" name="option1" value="{{mcqData.option1}}">
                </td>
            </tr>
            <tr>
                <td>
                <label>Option 2</label>
                </td>
                <td>
                <input type="text" name="option2" value="{{mcqData.option2}}">
                </td>
            </tr>
            <tr>
                <td>
                <label>Option 3</label>
                </td>
                <td>
                <input type="text" name="option3" value="{{mcqData.option3}}">
                </td>
            </tr>
            <tr>
                <td>
                <label>Option 4</label>
                </td>
                <td>
                <input type="text" name="option4" value="{{mcqData.option4}}">
                </td>
            </tr>
            <tr>
                <td>
                <label>Answer</label>
                </td>
                <td>
                <input type="text" name="answer" value="{{mcqData.answer}}">
                </td>
            </tr>
            <tr>
                <td>
                
                </td>
                <td>
                <button class="btn btn-success" type="submit">Update</button>
                </td>
            </tr>
        </table>
    </form>
</div>